@keyframes bg-anim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes upNDown {
	to {
		transform: translateY(-5%);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(60px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(60px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(-60px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInOutUp {
	0% {
		opacity: 0;
		transform: translateY(140px);
	}
	30% {
		opacity: 1;
		transform: translateY(0);
	}
	60% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-140px);
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes pendulum {
	0% {
		transform: rotateZ(0);
	}

	50% {
		transform: rotateZ(-5deg);
	}
	100% {
		transform: rotateZ(5deg);
	}
}
